{{#each this}}
    <div class="todo-item">
        {{!-- <div class="image-thumb">
            <a calss="image-link" href="{{largeImageURL}}"><img src="{{webformatURL}}" data-source="{{largeImageURL}}" alt="{{tags}}" loading="lazy" class="image"
                data-id="{{id}}" /></a>
        </div> --}}
        <svg class="todo-icon" width="12" height="12">
          <use href="./images/header-icons.svg#icon-search"></use>
        </svg>
        <div class="todo-wrapper">
            <p class="todo-info"><span class="todo-info__font">{{name}}</span></p>
            <p class="todo-info">{{date}}</p>
            <p class="todo-info">{{category}}</p>
            <p class="todo-info">{{content}}</p>
            <p class="todo-info">{{dates}}</p>
            <button class="icon-btn">
                <svg class="icon" width="12" height="12">
                    <use href="./images/header-icons.svg#icon-edit"></use>
                </svg>
            </button>
            <button class="icon-btn">
                <svg class="icon" width="12" height="12">
                    <use href="./images/header-icons.svg#icon-archive"></use>
                </svg>
            </button>
            <button class="icon-btn">
                <svg class="icon" width="12" height="12">
                    <use href="./images/header-icons.svg#icon-delete"></use>
                </svg>
            </button>
        </div>
        
    </div>
{{/each}}

